@using Microsoft.Extensions.Localization
@rendermode InteractiveServer
@inject IStringLocalizer<NavMenu> L
@inject NavProvider NavProvider

@code {
    private bool _expanded = true;
}

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon"/>
    <label for="navmenu-toggle" class="navmenu-icon">
        <FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill"/>
    </label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" @bind-Expanded="_expanded">
            @foreach(var item in NavProvider.NavMenuItems)
            {
                <NavMenuItem Value="item"/>
            }
        </FluentNavMenu>
    </nav>
</div>