@rendermode InteractiveServer

<div class="links">
    <FluentButton
        Appearance="Appearance.Lightweight"
        BackgroundColor="#0000"
        IconEnd="@(new CustomIcons.Size20.GitHub().WithColor(Color.FillInverse))"
        Title="iamshen Github Repo"
        OnClick="@NavigateToGitHub"
        />
</div>


@code {

    [Inject] protected IJSRuntime JsRuntime { get; set; } = null!;

    private async Task NavigateToGitHub()
    {
        await JsRuntime.InvokeVoidAsync("open", "http://github.com/iamshen", "_blank");
    }

}