@rendermode InteractiveServer
@inject IDialogService DialogService

<div class="settings">
    <FluentButton BackgroundColor="#0000" OnClick="OpenSiteSettingsAsync" Title="Site settings">
        <FluentIcon Value="@(new Icons.Regular.Size20.Settings())" Color="Color.Neutral" Title="Site settings" />
    </FluentButton>
</div>