<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogFile="logs/nlog.log"
      internalLogLevel="Error"
      internalLogToConsole="true"
      internalLogToConsoleError="true">

    <!--定义变量-->
    <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />
    <targets async="true">

        <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${longdate}|${level:uppercase=true}|${message}|${callsite}|${all-event-properties}">
            <highlight-row condition="level == LogLevel.Trace" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>
        <!--单个日志文本大小archiveAboveSize,单位byte  -->
        <target name="jsonFile" xsi:type="File"  archiveAboveSize="31457280" archiveEvery="Day" archiveFileName="${logDirectory}/archives/log.{#}.json" maxArchiveFiles="20" enableFileDelete="true" archiveNumbering="Rolling" fileName="${logDirectory}/${shortdate}.json" encoding="UTF-8">
            <layout xsi:type="JsonLayout">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="message" layout="${message}" escapeUnicode="false" />
                <attribute name="exception" encode="false">
                    <layout type="JsonLayout">
                        <attribute name="message" layout="${exception:tostring}" escapeUnicode="false" />
                        <attribute name="stacktrace" layout="${stacktrace}" escapeUnicode="false" />
                    </layout>
                </attribute>
                <attribute name="properties" layout="${all-event-properties}" escapeUnicode="false" />
                <attribute name="filename" layout="${callsite:classname=true:filename=true:includesourcepath=true:methodname=true}" escapeUnicode="false" />
            </layout>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="coloredConsole" />
        <logger name="*" minlevel="Info" maxlevel="Fatal" writeTo="jsonFile" enabled="true" />
    </rules>
</nlog>
